.app {
    display: grid;
    grid-template-areas: 
    "header header"
    "navbar content"
    "footer footer";
    grid-template-rows: 60px calc(100vh - 124px) 60px;
    grid-template-columns: 2fr 10fr;
    gap: 2px;
}
